{
  "compact": false,
  "presets": [
    ["env", {
      "targets": {
        "node": "8"
      },
      "exclude": ["transform-es2015-typeof-symbol"]
    }]
  ],
  "plugins": [
    "transform-for-of-as-array"
  ]
}
